*.vsdx#
DigitalLibrary/ALL_BUILD.vcxproj
DigitalLibrary/ALL_BUILD.vcxproj.filters
DigitalLibrary/CMakeFiles/
DigitalLibrary/CMakeCache.txt
DigitalLibrary/cmake_install.cmake
DigitalLibrary/Debug/
DigitalLibrary/DigitalLibrary.sln
DigitalLibrary/DigitalLibrary.VC.db
DigitalLibrary/DigitalLibrary.VC.VC.opendb
DigitalLibrary/DigitalLibraryClient.dir/
DigitalLibrary/DigitalLibraryClient.vcxproj
DigitalLibrary/DigitalLibraryClient.vcxproj.filters
DigitalLibrary/DigitalLibraryServer.dir/
DigitalLibrary/DigitalLibraryServer.vcxproj
DigitalLibrary/DigitalLibraryServer.vcxproj.filters
DigitalLibrary/Win32
DigitalLibrary/ZERO_CHECK.vcxproj
DigitalLibrary/ZERO_CHECK.vcxproj.filters